*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.container{
    width: 23rem;
    border:5px solid #333;
    background-color:#1e1e1e;
    padding: 2rem;
    height: 28rem;
   border-radius: 1.5rem;
   box-shadow: 1px 2px 0px 8px  rgb(255, 255, 255);    
}
h1{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 i{
    font-size: 1.3rem;
    margin-left:0.4rem;

}

.display-box{
    display: flex;
   

}
.display-box{
    justify-content:space-between;
   background-color: #0f0f0f;
  border-radius: 0.5rem;
  outline: none;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid #333;
  

}
.display-box input{
    background-color: transparent;
    width: 50%;
    border: none;
    flex: 1;
    color: #e78c0d;
    font-size: 1.3rem;
    outline: none;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.display-box button{
    background: none;
    color: #fff;
    outline: none;
    border: none;
}
.display-box button i{
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 2;
}
.setting label{
    display: block;
  text-align: left;
  margin: 0.5rem 0;
}
.setting label span{
    margin-left:8.5rem;
}
input[type="range"]{
    width: 100%;
    
}
.btn button{
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
}
.btn button:hover{
    background-color: rgb(252, 157, 23);
    color: #fff;
   font-weight: bolder;
}




